
:root{


    --main_color:rgb(238, 228, 49,1);
    --main_bg:rgba(00,00,00,1);
    --main_font:50px;
    --button_text:rgba(255,255,255,1);
    --button_bg: #1C1C1C;
    --button_font:40px;
    --button_height:80px;
    --button_width:90px;
}

@keyframes fly_hover {
    100%{
        transform: translateY(-15px);
    }
}

@keyframes scroll {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(100%);
    }
}

*{

    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

html,body,main{

    min-height: 100vh;
    width: 100%;
}

header{

    min-height: 100px;
    padding-top: 1.5%;
    background-color: var(--main_bg);
    overflow: hidden;

}

header h1{

    animation: scroll 3s linear 0.25s infinite normal;
    letter-spacing: 5px;
}

.main_text{

    color: var(--main_color);
    font-weight: 900;
    font-size: var(--main_font);

}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/blended.jpg);
    background-size: cover;
    background-position: center;
}

.Main_Calc_box{

    height: 700px;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    gap: 30px;
    background-color: var(--main_bg);

}

.Calc_button_div{

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.Calc_button_div div{

    display: flex;
    gap: 20px;

}

.calc_button{

    height: var(--button_height);
    width: var(--button_width);
    font-size: var(--button_font);
    border-radius: 25px;
    background-color: var(--button_bg);
    color: var(--button_text);
    box-shadow: 3px 5px 5px  rgba(255, 255, 255, 0.199);
    letter-spacing: 3px;
}

.special{
    background-color: rgb(250, 80, 20);
}

#calc_screen{

    height: 80px;
    width: 500px;
    font-size: 60px;
    background-color: var(--button_bg);
    border-radius: 25px;
    color: var(--button_text);
    padding: 2%;
    text-align: end;
}

.calc_button:hover{

    animation: fly_hover 0.5s linear 0s 1 normal;
}

.special:hover{
    background-color: var(--button_text);
    color: var(--button_bg);
}

@media (max-width:650px) {
    
    :root{
        --button_font:30px;
        --button_height:65px;
        --button_width:55px
    }
    .Main_Calc_box{
        height: 600px;
        width: 350px;
    }
    #calc_screen{
        width: 300px;
    }

}

