name: Daily render ping

on:
  schedule:
    - cron: '* * * * *'  # Runs daily at midnight UTC
  workflow_dispatch:  # Allows manual triggering

jobs:
  curl-website:
    runs-on: ubuntu-latest

    steps:
      - name: Run cURL on Website
        run: https://calculator-5o4v.onrender.com/
